
.land {
    text-align: center;
}
.land h3 , p{
    text-align: center;
}
.land h3 {
    font-size: 27px;
    font-weight: bold;
    color: #000;
}
.card {
    width: 16rem;
    height: 20vh;
    box-shadow: 15px 17px 55px 16px #eee;
    border: none;
    border-radius: 8px;
    margin: 20px;
}
